page-home {

}
     .head{
        border-bottom:solid 1px #D1D3D6;
        border-right:solid 1px #D1D3D6;
        height:50px;
        display:flex;
        align-items:center;
        width:125px;
        font-size:14px;
        color:#262626;
        justify-content:center;
     }